.Chat
    background-color #9eb9b6
    padding 10px

    &__content
    &__actions
        margin 10px

    &__content
        margin-bottom 0

    &__typing
        display none
        padding 0 10px

        &-dot
            display inline-block
            height 5px
            width 5px
            margin 2px
            border-radius 50%
            background-color rgba(0,0,0,.5)
            animation dot .5s infinite alternate

            & + &
                animation-delay .1s
            & + & + &
                animation-delay .2s

    &_typing &__typing
        display block

@keyframes dot
    0%
        opacity 0
    100%
        opecity 1
