.Chat
    background-color #718381
    padding 10px

    &__inner
        max-width 500px
        margin 0 auto

    &__content
        margin 10px 0
        margin-bottom 0

    &__actions
        margin 20px 0
        text-align center

    &__typing
        display none


        &-dot
            display inline-block
            height 5px
            width 5px
            margin 2px
            border-radius 50%
            background-color rgba(0,0,0,.5)
            animation dot .5s infinite alternate

            & + &
                animation-delay .1s
            & + & + &
                animation-delay .2s

    &_typing &__typing
        display block

@keyframes dot
    0%
        opacity 0
    100%
        opecity 1
